<html>
    <head>
        <title>Title goes here</title>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    </head>
    <body>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </body>
</html>